/*------------------------------------------------------------------
    ADD YOUR OWN STYLING HERE AVOID TO USE STYLE.CSS AND MAIN.CSS
	
	IT WILL BE HELPFUL FOR YOU IN FUTURE UPDATES
-------------------------------------------------------------------*/

.header-style-2.header-style-3 .logo{
    margin-top: 50px;
    margin-bottom: 50px;
}

.setting-container{
    border: 1px solid #ddd;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.faq-cate {
    margin-top: 0 !important;
}